<launch>
<!-- Launch file for ouster OS2-32 LiDAR -->

    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find cte_mlo)/rviz_cfg/loam_livox.rviz" output="log"/>
    </group>
    <rosparam command="load" file="$(find cte_mlo)/config/forklift.yaml" />
    <param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="cte_mlo" type="cte_mlo" name="laserMapping" output="screen" /> 
</launch>
